@font-face {
    font-family: 'AnonymousPro';
    src: url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap') format('truetype');
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: greenyellow;
    font-size: 35px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 50px;
    line-height: 0.7;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style-type: none;
    padding: 0;
    cursor:pointer;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main-content-avatar {
    max-width: 1800px;
    height: 500px; 
    margin: 20px ;
    padding: 0 20px;
}

.main-content-avatar img {
    height: 80%;
    width: 80%;
    cursor: pointer;

}

.content img {
    position: relative;
    width: min-content;
}

.main-content {
    max-width: 1800px;
    height: 500px; 
    margin: 20px ;
    padding: 0 20px;

}

.main-content h2 {
    text-align: left;
    max-width: 80%;
}

.main-content img {
    height: 80%;
    width: 80%;
    cursor: pointer;

}

.featured-news h2 {
    color: #333;
    text-align: left;
    position: relative;
}

.meta {
    color: #777;
    text-align: left;
}

.Texto_Matéria {
    font-size: larger;
    max-width: 80%;
    text-align: justify;
}

.other-news img {
    height: 80%;
    width: 80%;
 }

.other-news  h2 {
    margin-bottom: 20px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: auto;
}

